<mat-sidenav-container class="sidenav-container" [autosize]="true">
  <mat-sidenav #sidenav mode="side" [opened]="sidenavOpen">
    <p>Menu</p>
    <p *appIsAuthenticated><a routerLink="['home']"><button mat-flat-button><mat-icon>home</mat-icon> Inicio</button></a></p>
    <p *appIsAuthenticated><a routerLink="['home']"><button mat-flat-button><mat-icon>subscriptions</mat-icon> Inscripcion</button></a></p>
    <p *appIsAuthenticated><a routerLink="['home']"><button mat-flat-button><mat-icon>list</mat-icon> Seleccionar Materias</button></a></p>
    <p *appIsAuthenticated><button mat-flat-button (click)="logout()"><mat-icon>logout</mat-icon> Cerrar sesión</button></p>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content-styles">
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
      </mat-toolbar-row>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
